{%extends 'shop/base.html'%}
{% load static %}
<!--<link rel="stylesheet" href="{%static 'style.css' %}">-->

<!--Body start-->
{% block body %}

<br><br>
<div class="container">
  {% load static %}
  <h2>Mans Pent Section</h2>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src='{%static "shop/images/pent1.jpg"%}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blue Pent</h5>
            <p class="card-text"> PRISE : 345/-</p>
            <a href="#" class="btn btn-primary">ADD CART</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src='{%static "shop/images/pent1.jpg"%}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blue Pent</h5>
            <p class="card-text"> PRISE : 345/-</p>
            <a href="#" class="btn btn-primary">ADD CART</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src='{%static "shop/images/pent1.jpg"%}' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blue Pent</h5>
            <p class="card-text"> PRISE : 345/-</p>
            <a href="#" class="btn btn-primary">ADD CART</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<h2>Mans Shirt Section</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src='{%static "shop/images/shirt.jpg"%}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blue shirt</h5>
            <p class="card-text"> PRISE : 345/-</p>
            <a href="#" class="btn btn-primary">ADD CART</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src='{%static "shop/images/shirt2.jpg"%}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blue shirt</h5>
            <p class="card-text"> PRISE : 345/-</p>
            <a href="#" class="btn btn-primary">ADD CART</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src='{%static "shop/images/shirt3.webp"%}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blue shirt</h5>
          <p class="card-text"> PRISE : 345/-</p>
          <a href="#" class="btn btn-primary">ADD CART</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
<h3>All Outlet Location</h3>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fJHsX_Oad26ipcMJUU1_HA9XFdPJnub8&ehbc=2E312F" width="1100" height="480"aling="center"></iframe>

</div>


 {% endblock %}


      